@CHARSET "UTF-8";

body {
	font-size: 10px;
	
}

form input {
	font-size: 10px;
}

.error-message{
	color:red;
}

.cascade-loading  	
{																		
	background: transparent url("indicator.gif") no-repeat center; 					
}


.input.text label {
	float:left;
	width: 200px;
	margin-left: 6px;
	text-align: left;
	//text-transform: capitalize; 	
}

.input.select label {
	float:left;
	width: 200px;
	margin-left: 6px;
	text-align: left;
	//text-transform: capitalize; 	
}

.input.file label {
	float:left;
	width: 200px;
	margin-left: 6px;
	text-align: left;
	//text-transform: capitalize; 	
}

.icono {
	border: 0px;
}

.button_link a {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
.button_link a span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}

