<?php

/*************************************************************************
Copyright (C) 2012 Universidad Nacional de San Luis (UNSL)
Author: Diego Quiroga <diegoq@unsl.edu.ar>

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
**************************************************************************/


?>


<div id="path_consulta" class="path">
	<table  border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td>
				&nbsp;
				<a href=<?= $html->url("/lista_consultas/") ?> title="Consultas Disponibles.">Consultas</a>
				&gt;
				<a href=<?= $html->url("/consulta/index/".$consulta["Consulta"]["id"]) ?> title="Consulta activa" ><?= $consulta["Consulta"]["nombre"] ?></a>
			</td>
		</tr>
	</table>
</div>